.dev-before-footer {
  position: relative;
  padding: 85px 0 100px 0;
  margin-top: 120px;
  .dev-before-footer-img {
    position: absolute;
    inset: 0;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .dev-before-footer-form {
    max-width: 710px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background: url("../../img/wave-bg.svg") center no-repeat;
    background-size: cover;

    padding: 40px 20px;
    position: relative;
    z-index: 1;
    .dev-before-footer-title {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: clamp(24px, 3vw, 36px);
      line-height: 120%;
      text-transform: uppercase;
      color: var(--white);
      margin-bottom: 20px;

      span {
        color: var(--yellow);
      }
    }
    .dev-before-footer-desc {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(16px, 2vw, 20px);
      line-height: 130%;
      color: var(--white);
      margin-bottom: 40px;
    }
  }

  .form-before-footer-dev {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .policy-block-dev {
      margin-top: 10px;
    }

    .text {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: clamp(18px, 2vw, 22px);
      line-height: 120%;
      color: var(--white);
      margin: 0;
      margin-top: 20px;
    }
  }

  .dev-before-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    .phone {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: clamp(22px, 2.5vw, 28px);
      line-height: 120%;
      color: var(--white);
      transition: color 0.3s ease;
      @include hover {
        &:hover {
          color: var(--yellow);
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: var(--white);
        transition: color 0.3s ease;
        @include hover {
          &:hover {
            color: var(--yellow);
          }
        }
      }
    }
  }
}
