.dev-cases {
  margin-bottom: 40px;
  &-title {
    font-family: var(--font-family);
    font-weight: 900;
    @include r-font(64, 32);
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &-nav {
    margin-bottom: clamp(30px, 3vw, 60px);
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .dev-cases-btn {
    border: 1px solid var(--black);
    border-radius: 60px;
    padding: 8px 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--black);
    transition: background-color 0.3s ease, color 0.3s ease;
    @include hover {
      &:hover {
        background-color: var(--yellow);
      }
    }
  }

  .dev-cases-container {
    max-width: 1820px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .dev-cases-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  .dev-case-item {
    position: relative;
    height: 550px;
    padding: 40px;
    @media (max-width: 640px) {
      height: 320px;
      padding: 20px;
    }
    .dev-case-link {
      position: absolute;
      inset: 0;
      z-index: 1;
    }
    .dev-case-image {
      position: absolute;
      inset: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    .dev-case-title {
      position: relative;
      z-index: 1;
      font-family: var(--font-family);
      font-weight: 700;
      @include r-font(28, 22);
      line-height: 120%;
      color: var(--white);
      max-width: 480px;
    }

    .dev-case-item-back {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      z-index: 2;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;

      .image {
        position: absolute;
        inset: 0;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      .logo {
        max-width: 150px;
        display: block;
        margin-bottom: 10px;
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .action {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: clamp(18px, 2vw, 20px);
          line-height: 120%;
          color: var(--white);
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-radius: 60px;
          padding: 8px 24px;
          max-width: fit-content;

          span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: var(--white);
          }
        }
      }
      p {
        color: var(--white);
        font-size: 16px;
        margin-bottom: 50px;
      }
      .content {
        position: absolute;
        z-index: 3;
        top: 60px;
        left: 60px;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 650px;
      }
      .dev-btn--accent {
        max-width: 250px;
      }
    }
    @include hover {
      &:hover {
        .dev-case-item-back {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .dev-cases-description {
    position: relative;
    padding: 54px 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    .dev-cases-description-bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      filter: drop-shadow(5px 5px 8px rgba(218, 178, 2, 1));
    }
    .subtitle {
      font-family: var(--font-family);
      font-weight: 700;
      @include r-font(36, 20);
      line-height: 130%;
      text-transform: uppercase;
      color: var(--white);
      max-width: 650px;
      span {
        color: var(--yellow);
        max-width: 650px;
      }
    }

    .dev-btn--accent {
      width: 100%;
      @media (min-width: 767px) {
        max-width: 300px;
      }
    }
    @media (max-width: 640px) {
      padding: 40px 65px 30px 65px;
    }
  }
}
