.dev-crm {
  height: 1180px;
  padding-block: 120px;
  position: relative;
  @media (max-width: 640px) {
    height: 700px;
  }
  .dev-crm-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .dev-crm-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1140px;
    width: 100%;
    height: 820px;
    @media (max-width: 640px) {
      height: 100%;
    }
    .derm-crm-item {
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      @media (max-width: 640px) {
        max-width: 70px;
      }
      & > * {
        pointer-events: none;
      }

      .crm-item-block {
        pointer-events: auto;
        position: absolute;
        fill: rgba(245, 245, 245, 0.2);
        backdrop-filter: blur(300px);
        box-shadow: 0 6px 16px 0 rgba(255, 188, 0, 0.5);
        padding: 24px;
        width: 440px;
        z-index: 4;
        border-radius: 8px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        @media (max-width: 640px) {
          width: 220px;
          max-width: 320px;
          padding: 14px 10px;
          left: 0;
        }
        &._active {
          opacity: 1;
          visibility: visible;
        }
        .accent {
          background: var(--red);
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          color: var(--white);
          margin-bottom: 8px;
          border-radius: 30px;
          max-width: fit-content;

          padding: 5px 10px;
        }
        .title {
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 22px;
          line-height: 120%;
          color: var(--white);
          margin-bottom: 24px;
        }
        .desc {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: var(--white);
          &:not(:last-child) {
            margin-bottom: 14px;
          }
        }
      }
    }

    ._amo {
      top: 11vw;
      left: 12vw;
      @media (max-width: 640px) {
        top: 93vw;
      }
    }
    ._bitrix {
      right: 17vw;
      left: auto;
      top: 6vw;
      @media (max-width: 640px) {
        top: 85vw;
        .crm-item-block {
          left: -200px;
        }
      }
    }
    ._c {
      right: -4vw;
      left: auto;
      top: 16vw;
      @media (max-width: 640px) {
        right: 6vw;
        top: 107vw;

        .crm-item-block {
          left: -200px;
        }
      }
    }
    ._ukassa {
      top: 24vw;
      left: 4vw;
      @media (max-width: 640px) {
        top: 122vw;
      }
    }
    ._sklad {
      bottom: 2vw;
      top: auto;
      left: 16vw;
      @media (max-width: 640px) {
        bottom: 14vw;
        left: 6vw;
      }
    }
    ._cloud {
      top: auto;
      bottom: -6vw;
      left: 25vw;
      @media (max-width: 640px) {
        bottom: 5vw;
      }
    }
    ._sbis {
      left: auto;
      right: 0;
      top: auto;
      bottom: -4vw;
      @media (max-width: 640px) {
        right: 80px;
        bottom: 6vw;
      }
    }
    ._robo-kassa {
      right: 10vw;
      left: auto;
      top: 19vw;
      @media (max-width: 640px) {
        top: 130vw;
      }
    }
  }
}
