.dev-team {
  position: relative;
  padding-block: 100px;
  .dev-team-bg {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -1;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .dev-team-title {
    margin-bottom: 20px;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    @include r-font(20, 18);
    line-height: 120%;
    color: var(--white);
    margin: 0;
    margin-bottom: 60px;
    max-width: 480px;
  }
  .dev-team-slider {
  }
  .dev-team-slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;

    .name {
      font-family: var(--font-family);
      font-weight: 700;
      @include r-font(36, 24);
      line-height: 120%;
      text-transform: uppercase;
      color: var(--white);
      margin-bottom: 8px;
      margin-top: 20px;
    }
    .status {
      font-family: var(--font-family);
      font-weight: 400;
      @include r-font(16, 14);
      line-height: 130%;
      color: var(--white);
    }
  }

  .dev-team-gift {
    margin-top: 3vw;
    .wrapper {
      background: url("../../img/dev-team/dev-team-gift-bg.webp") no-repeat;
      padding-block: 13vw;
      padding-left: 4vw;
      background-size: contain;
      @media (max-width: 1560px) {
        padding-block: 15vw;
      }
    }
    .wrapper-content {
      display: flex;
      flex-direction: column;
      gap: 14px;
      max-width: 720px;
    }
    .subtitle {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--white);

      span {
        color: var(--yellow);
      }
    }
    p {
      margin-bottom: 10px;
    }
  }

  .navigation {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 20px;
    .navigation-btn {
      border-radius: 4px;
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      background: var(--yellow);
      transition: opacity 0.3s ease;
      will-change: opacity;
      cursor: pointer;
      @include hover {
        &:hover {
          opacity: 0.5;
        }
      }

      &.swiper-button-disabled {
        opacity: 0.2;
      }
    }
  }

  .dev-team-sertificate {
    .dev-title {
      margin-bottom: 20px;
    }
  }

  .team-sertificate-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    a {
      display: block;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5) url("../../img/icons/icon-loop.svg")
          center / 50px no-repeat;
        border-radius: 8px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }

      @include hover {
        &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
