.dev-niche {
  margin-bottom: 120px;
  .dev-niche-title {
    margin: 0;
    margin-bottom: clamp(30px, 3vw, 60px);
    color: var(--black);
  }

  .dev-niche-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    .item {
      display: flex;
      flex-direction: column;
      background: var(--black) url("../../img/niche/wave.svg") center / cover
        no-repeat;
      padding: 20px;
      flex: 1 1 20%;
      border-radius: 20px;
      position: relative;
      color: var(--white);
      transition: 0.3s ease;
      &:nth-child(-n + 3) {
        flex: 1 1 30%;
      }

      .item-link {
        position: absolute;
        inset: 0;
        z-index: 3;
      }
      .item-head {
        display: grid;
        grid-template-columns: 80px 1fr;
        align-items: center;
        gap: 10px;
        margin-bottom: 14px;
        position: relative;
        z-index: 1;
      }
      .item-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: clamp(22px, 3vw, 28px);
        line-height: 120%;
        position: relative;
        z-index: 1;
        color: inherit;
      }
      .item-desc {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(16px, 2vw, 20px);
        line-height: 130%;
        position: relative;
        z-index: 1;
        color: inherit;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: var(--gradient);
        z-index: 0;
        mix-blend-mode: difference;
        opacity: 0;
        transition: 0.3s ease;
        will-change: opacity;
      }
      @include hover {
        &:hover {
          &:before {
            opacity: 1;
          }
          color: var(--black);
        }
      }
    }
  }

  .dev-niche-description {
    background: var(--gradient);
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    @media (max-width: 640px) {
      padding: 20px 10px;
    }
    .subtitle {
      font-family: var(--font-family);
      font-weight: 700;
      @include r-font(36, 24);
      line-height: 120%;
      text-transform: uppercase;
      color: var(--black);
    }

    .dev-btn--accent {
      background: var(--black);
      color: var(--white);
    }
  }
}
