<section class="dev-cases">
  <div class="container">
    <h2 class="dev-cases-title">450+ разработанных сайтов</h2>

    <div class="dev-cases-nav">
      <ul class="list-reset dev-cases-list">
        <li class="dev-cases-item">
          <button type="button" class="btn-reset dev-cases-btn">
            Лендинги
          </button>
        </li>
        <li class="dev-cases-item">
          <button type="button" class="btn-reset dev-cases-btn">
            Интернет-магазины
          </button>
        </li>
        <li class="dev-cases-item">
          <button type="button" class="btn-reset dev-cases-btn">
            Корпоративные сайты
          </button>
        </li>
        <li class="dev-cases-item">
          <button type="button" class="btn-reset dev-cases-btn">
            Сайты услуг
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="dev-cases-container">
    <div class="dev-cases-items">
      <div class="dev-case-item">
        <a class="dev-case-link" href=""></a>
        <div class="dev-case-image">
          <img src="../img/cases/polygal.webp" alt="" />
        </div>
        <div class="dev-case-title">
          Корпоративный сайт для завода производителя
        </div>
      </div>
      <div class="dev-case-item">
        <a class="dev-case-link" href=""></a>
        <div class="dev-case-image">
          <img src="../img/cases/cveti.webp" alt="" />
        </div>
        <div class="dev-case-title">
          Интернет-магазин для оптовой и розничной продажи цветов
        </div>
      </div>
      <div class="dev-case-item">
        <a class="dev-case-link" href=""></a>
        <div class="dev-case-image">
          <img src="../img/cases/agro.webp" alt="" />
        </div>
        <div class="dev-case-title">
          Корпоративный сайт для оператора по продаже сельскохозяйственной
          техники
        </div>
      </div>
      <div class="dev-case-item">
        <a class="dev-case-link" href=""></a>
        <div class="dev-case-image">
          <img src="../img/cases/nedvizhka.webp" alt="" />
        </div>
        <div class="dev-case-title">
          Корпоративный сайт для продажи элитной недвижимости
        </div>
      </div>
      <div class="dev-case-item">
        <a class="dev-case-link" href=""></a>
        <div class="dev-case-image">
          <img src="../img/cases/tkan.webp" alt="" />
        </div>
        <div class="dev-case-title">Интернет-магазин по продаже тканей</div>
      </div>
      <div class="dev-case-item">
        <a class="dev-case-link" href=""></a>
        <div class="dev-case-image">
          <img src="../img/cases/monet.webp" alt="" />
        </div>
        <div class="dev-case-title">Интернет-магазин для продажи монет</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="dev-cases-description">
      <picture class="dev-cases-description-bg">
        <img src="../img/code-bg.webp" alt="" />
      </picture>
      <div class="subtitle">
        Ваш сайт – следующий в списке успешных кейсов!
        <span>Обсудим детали?</span>
      </div>

      <button type="button" class="btn-reset dev-btn--accent">
        Обсудить ТЗ на сайт
      </button>
    </div>
  </div>
</section>
