<section class="dev-order">
  <div class="container">
    <h2 class="dev-title dev-order-title">
      Заказывая сайт у нас, <br />
      <span>вы получите</span>
    </h2>

    <div class="dev-order-wrapper">
      <div class="dev-order-col">
        <ul class="list-reset dev-order-list">
          <li>
            <div class="dev-order-list-title">
              Анализ сайтов конкурентов <br />
              их полюсы и минусы
            </div>
            <div class="dev-order-list-desc">
              Сайт поможет протестировать нишу и понять, <br />
              какие продукты востребованы.
            </div>
          </li>
          <li>
            <div class="dev-order-list-title">
              Первичную проработку по SEO <br />
              с возможностью дальнейшего <br />
              развития
            </div>
            <div class="dev-order-list-desc">
              Мы создаем сайты, которые нравятся <br />
              поисковым системам и привлекают <br />
              органический трафик.
            </div>
          </li>
          <li>
            <div class="dev-order-list-title">
              Отделение Вашего бизнеса <br />
              от конкурентов, выделение <br />
              ключевых преимуществ
            </div>
            <div class="dev-order-list-desc">
              Профессиональный дизайн и грамотная <br />
              структура подчеркнут ценность вашего <br />
              предложения.
            </div>
          </li>
        </ul>
      </div>
      <div class="dev-order-airplane" aria-hidden="true">
        <img src="../img/order-airplane.webp" alt="" />
      </div>
      <div class="dev-order-col dev-order-col--reverse">
        <ul class="list-reset dev-order-list">
          <li>
            <div class="dev-order-list-title">
              Устойчивая платформа вашего бизнеса
            </div>
            <div class="dev-order-list-desc">
              Создание нового сайта – это быстрый и доступный способ выйти
              на рынок без больших затрат.
            </div>
          </li>
          <li>
            <div class="dev-order-list-title">
              Приток новых клиентов из интернета
            </div>
            <div class="dev-order-list-desc">
              Ваш сайт станет эффективным инструментом для привлечения заказов
              и продаж.
            </div>
          </li>
          <li>
            <div class="dev-order-list-title">
              Красивая упаковка и доверие клиентов
            </div>
            <div class="dev-order-list-desc">
              Солидное онлайн-представительство формирует положительное мнение о
              вашей компании.
            </div>
          </li>
          <li>
            <div class="dev-order-list-title">
              Тех поддержка в подарок и простая доработка с  специалистом
            </div>
            <div class="dev-order-list-desc">
              Сайт легко доработать, добавить новые функции или разделы
              по мере роста бизнеса.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
