<section class="dev-niche">
  <div class="container">
    <h2 class="dev-title dev-niche-title">
      Создание сайтов <br />
      <span>Для различных ниш</span>
    </h2>

    <div class="dev-niche-items">
      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>

      <div class="item">
        <a class="item-link" href=""></a>
        <div class="item-head">
          <div class="item-icon">
            <img src="../img/niche/1.webp" width="80" height="80" alt="" />
          </div>
          <div class="item-title">Авто</div>
        </div>
        <div class="item-desc">
          Сайты для автосалонов, автосервисов и дилеров с удобной навигацией и
          системой онлайн-записи.
        </div>
      </div>
    </div>

    <div class="dev-niche-description">
      <div class="subtitle">
        Не нашли свою нишу? Оставьте <br />
        заявку, и мы предложим решение!
      </div>
      <button type="button" class="btn-reset dev-btn--accent">
        Заказать индивидуальное решение
      </button>
    </div>
  </div>
</section>
