<section class="dev-crm">
  <div class="dev-crm-bg">
    <img src="../img/crm-bg.webp" alt="" />
  </div>
  <div class="container">
    <h2 class="dev-title dev-crm-title">
      Интеграции любых систем <br />
      <span>под ваши задачи</span>
    </h2>
  </div>

  <div class="dev-crm-items">
    <div class="derm-crm-item _amo">
      <img src="../img/crm/amo.webp" alt="" />
      <div class="crm-item-block">
        <div class="accent">Партнеры</div>
        <div class="title">AmoCRM</div>
        <div class="desc">
          Интеграция заявок с сайта в AmoCRM, двусторонняя синхронизация товаров
          и остатков с каталогом в AmoCRM для сайта по продаже сувенирных ножей
          ручной работы.
        </div>
      </div>
    </div>
    <div class="derm-crm-item _bitrix">
      <img src="../img/crm/bitrix.png" alt="" />
      <div class="crm-item-block">
        <div class="accent">Партнеры</div>
        <div class="title">Bitrix24</div>
        <div class="desc">
          Интеграция заказов и заявок с сайта в Bitrix24 для сайта по продаже
          тканей, создание кастомного онлайн-чата с интеграцией в открутую линию
          Bitrix24 на наш сайт.
        </div>
        <div class="desc">
          Интеграция воронки Bitrix24 с личным кабинетом на сайте для
          отслеживания клиентами процесса строительства дома.
        </div>
      </div>
    </div>
    <div class="derm-crm-item _c">
      <img src="../img/crm/1c.png" alt="" />
      <div class="crm-item-block">
        <div class="title">1С: Предприятие</div>
        <div class="desc">
          Интеграция интернет-магазинов Полигаль Восток с 3 системами 1С для
          обновления остатков по товарам и информации по заказам.
        </div>
      </div>
    </div>
    <div class="derm-crm-item _ukassa">
      <img src="../img/crm/kassa.png" alt="" />
      <div class="crm-item-block">
        <div class="accent">Партнеры</div>
        <div class="title">ЮКасса</div>
        <div class="desc">
          Интеграция платежной системы для сайта по продаже цветов DK-Flowers.
        </div>
      </div>
    </div>
    <div class="derm-crm-item _sklad">
      <img src="../img/crm/sklad.png" alt="" />
      <div class="crm-item-block">
        <div class="title">МойСклад</div>
        <div class="desc">
          Интеграция интернет-магазина и личного кабинета на сайте с МойСклад
          для обновления товаров, остатков и статусов заказов клиентов
        </div>
      </div>
    </div>
    <div class="derm-crm-item _cloud">
      <img src="../img/crm/cloud.png" alt="" />
      <div class="crm-item-block">
        <div class="accent">Партнеры</div>
        <div class="title">CloudPayments</div>
        <div class="desc">
          Интеграция платежной системы для интернет-магазина по продаже
          напольных покрытий
        </div>
      </div>
    </div>
    <div class="derm-crm-item _sbis">
      <img src="../img/crm/sbis.png" alt="" />
      <div class="crm-item-block">
        <div class="title">СБИС</div>
        <div class="desc">
          Интеграция интернет-магазина по продаже напольных покрытий для
          обновления доступных товарных позиций
        </div>
      </div>
    </div>
    <div class="derm-crm-item _robo-kassa">
      <img src="../img/crm/robo-kassa.png" alt="" />
      <div class="crm-item-block">
        <div class="title">RoboKassa</div>
        <div class="desc">
          Интеграция платежной системы для сайта по продаже крепажа и
          инструментов Крепи-мир.
        </div>
      </div>
    </div>
  </div>
</section>
