<section class="dev-steps">
  <div class="container">
    <h2 class="dev-title">
      7 шагов к созданию <br />
      <span>идеального веб-сайта</span>
    </h2>

    <div class="dev-steps-wrapper">
      <div class="dev-left-side">
        <ul class="list-reset dev-steps-list">
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn _active"
              data-step="analyze"
            >
              01 Анализ
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn"
              data-step="proto"
            >
              02 Прототип
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn"
              data-step="design"
            >
              03 Дизайн
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn"
              data-step="front"
            >
              04 Верстка
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn"
              data-step="back"
            >
              05 Натяжка
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn"
              data-step="content"
            >
              06 Контент
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn"
              data-step="seo"
            >
              07 Базовое SEO
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-reset dev-steps-btn"
              data-step="start"
            >
              08 Запуск и ТП
            </button>
          </li>
        </ul>
        <div class="dev-content">
          <div class="dev-content-title">
            Исследование и анализ потребностей
          </div>
          <div class="dev-content-desc">
            Мы начинаем с анализа вашего бизнеса и рынка, чтобы понять,
            что важно для ваших клиентов. Это поможет нам правильно сформировать
            стратегию, которая будет работать для вас.
          </div>
          <ul class="list-reset list">
            <li>Анализ целевой аудитории</li>
            <li>
              Выявление уникальных преимуществ и конкурентных особенностей
            </li>
            <li>Оценка ожиданий и болей клиентов</li>
            <li>Постановка бизнес-целей сайта</li>
          </ul>
        </div>
      </div>
      <div class="dev-visually">
        <img src="../img/tunel.webp" alt="" />
        <div class="dev-visually-images">
          <img
            class="active-img fade-up-img"
            src="../img/steps-img/lupa.webp"
            alt=""
          />
          <img src="../img/steps-img/air-start.webp" alt="" />
          <img src="../img/steps-img/air-full.png" alt="" />
          <img src="../img/steps-img/air1.webp" alt="" />
          <img src="../img/steps-img/air2.webp" alt="" />
          <img src="../img/steps-img/air3.webp" alt="" />
          <img src="../img/steps-img/air4.webp" alt="" />
          <img src="../img/steps-img/air5.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
