<section class="dev">
  <div class="swiper swiper-dev">
    <div class="swiper-wrapper">
      <div class="swiper-slide dev-slide">
        <div class="container">
          <h2 class="dev-title">разработка <span>Landing Page</span></h2>

          <div class="dev-info">
            <div class="dev-info-subtitle">Landing Page</div>
            <div class="dev-info-desc">
              Создаем страницы, которые продают: с понятной логикой, сильной
              подачей и ориентацией на получение результата
            </div>

            <span>Стоимость разработки:</span>
            <div class="dev-info-price">от 62 000 ₽</div>
          </div>
        </div>

        <div class="dev-slide-img">
          <img src="../img/dev-slide-img.webp" alt="" />
        </div>
      </div>

      <div class="swiper-slide dev-slide">
        <div class="container">
          <h2 class="dev-title">разработка <span>Интернет-магазина</span></h2>

          <div class="dev-info">
            <div class="dev-info-subtitle">Интернет-магазин</div>
            <div class="dev-info-desc">
              Проектируем страницы, где хочется покупать: интуитивный интерфейс,
              фокус на товаре и оформление заказа в пару кликов
            </div>

            <span>Стоимость разработки:</span>
            <div class="dev-info-price">от 376 000 ₽</div>
          </div>
        </div>

        <div class="dev-slide-img">
          <img src="../img/dev-slide-img-magazine.webp" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="dev-container">
    <div class="container">
      <div class="dev-container-wrapper">
        <div class="left">
          Не знаете, какой сайт нужен?
          <span>Оставьте заявку на консультацию!</span>
        </div>
        <div class="right">
          <p>
            Подберем оптимальное решение для вашего бизнеса и запустим сайт,
            который приносит результат!
          </p>
          <button type="button" class="btn-reset dev-btn--accent">
            Оставить заявку на сайт
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
