<section class="dev-hero">
  <div class="dev-hero__image _ibg">
    <img src="./img/mm-dev-hero.webp" alt="" />
  </div>
  <div class="container">
    <div class="dev-hero-wrapper">
      <div class="left-content">
        <div class="dev-accent-text">Нужен конверсионный сайт?</div>
        <h1 class="dev-hero-title">
          Разработка <br />
          <span>и создание сайтов</span>
        </h1>
        <div class="dev-hero-desc">
          Создаем продающие сайты за 14 дней с конверсией до 30%. <br />
          В ПОДАРОК адаптированная версия сайта для Telegram!
        </div>

        <div class="dev-hero-price">
          <div class="price">
            <b>от 62 000 руб.</b>
            <span>от 95 000 руб.</span>
          </div>
          <div class="discount">44%</div>
        </div>

        <div class="dev-hero-buttons">
          <button type="button" class="btn-reset dev--btn dev-btn--accent">
            🔎 Рассчитать создание сайта
          </button>
          <button type="button" class="btn-reset dev--btn dev-btn--border">
            🚀 Заказать сайт под ключ
          </button>
        </div>
      </div>
    </div>
    <div class="dev-hero-person">
      <div class="person">
        <img src="./img/teamlead.webp" alt="" />
      </div>
      <div class="site-items">
        <img src="../img/items-hero.webp" alt="" />
      </div>
    </div>
  </div>
</section>
